# Obsidian Git Plugin (nur Plugin-Metadaten, keine Inhalte)
.obsidian/plugins/obsidian-git/data.json

# Systemdateien
.DS_Store
Thumbs.db

# Obsidian Caches
.obsidian/
.obsidian/workspace
.obsidian/workspace.json
.obsidian/graph.json
.obsidian/cache

# Logs & Temp
*.log
*.tmp
*.bak

# Node & Python Artefakte
node_modules/
__pycache__/
